__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
.pytest_cache/
.mypy_cache/
.DS_Store
.ipynb_checkpoints/
.coverage
.cache/
.idea/
.vscode/
.ruff_cache/
.pylint.d/
.mypy_cache/
.pytest_cache/
.pytype/
.pyre/
.hypothesis/
.tox/
.eggs/
*.egg-info/
.env.*
.DS_Store

node_modules/
models/
vision_models/
danbooru_tag_base/
danbooru_tag_lora/